
body
{
	font-family: helvetica;
	color: #FFFFFF;
	background-color: #000000;
}

h1:hover
{
	color:blue;
}

.active 
{
	color: #000000;
	background-color: grey;
}

.neutral
{
	color: #FFFFFF;
	background-color: #000000;
}
